<% if (method == 'POST') { %>
    <div class="alert alert-success" role="alert">successful i guess!!</div>
<% } %>

<form action="/add" method="post" enctype="application/x-www-form-urlencoded">
  <% include ./_gig-form %>
  <button type="submit" class="btn btn-default">Add</button>
</form>
